server:
    port: 6003
    error:
        whitelabel:
          enabled: false
        include-message: always
template:
    jwt:
        secret: ${JWT_SECRET}
        issuer: evolutiondevmx
        expiration: 3600000
    frontend:
        url: ${FRONTEND_URL:http://localhost:3000}
spring:
    application:
        name: Template
    datasource:
        driver-class-name: org.postgresql.Driver
        password: ${SPRING_DATASOURCE_PASSWORD}
        url: ${SPRING_DATASOURCE_URL}
        username: ${SPRING_DATASOURCE_USERNAME}
        hikari:
            connection-timeout: 30000
            idle-timeout: 600000
            max-lifetime: 1800000
            maximum-pool-size: 10
    jpa:
        hibernate:
            ddl-auto: validate
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    flyway:
        enabled: true
        baseline-on-migrate: true
        locations: classpath:db/migration
        sql-migration-prefix: V
        sql-migration-separator: __
        sql-migration-suffixes: .sql
    mvc:
      pathmatch:
          matching-strategy: ant_path_matcher
    web:
        resources:
            add-mappings: false
    mail:
        host: ${MAIL_HOST:smtp.gmail.com}
        port: ${MAIL_PORT:587}
        username: ${MAIL_USERNAME}
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
email:
    provider: ${EMAIL_PROVIDER:google}
springdoc:
    api-docs:
        path: /v3/api-docs
        enabled: true
    swagger-ui:
        path: /swagger-ui.html
        enabled: true
        operationsSorter: method
        tagsSorter: alpha
        tryItOutEnabled: true
    show-actuator: false
logging:
    level:
        root: info
        org.hibernate: debug
        org.springframework: info
        org.springdoc: debug

